* {
    /* outline: 1px solid black; */
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
}

/* SECTION 1 */

.nav-bar {
    background-color: #1F2937;
}

.nav-container {
    color: #F9FAF8;
    width: 65vw;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    font-size: 24px;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

li a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.section-1 {
    background-color: #1F2937;
}

.section-1-subcontainer {
    color: #F9FAF8;
    width: 65vw;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.section-1-text {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.section-1-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.section-1-text p,
.section-1-text button {
    font-size: 18px;
}

.section-1-text button {
    width: 15%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: inherit;
    background-color: #3882F6;
}

.img {
    background-color: gray;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* SECTION 2 */
.section-2 {
    text-align: center;
    width: 65vw;
    margin: 0 auto;
}

.section-2 h2 {
    font-size: 32px;
    font-weight: 900;
    padding: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 100px;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card .box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

/* SECTION 3 */